# Build directories
/bin/
/build
*.iml

.idea/*
.gradle/
gradle/
gradlew
gradlew.bat
local.properties

# Project files
.classpath
.project
.settings

# Documentation directory
Documentation/

# Generated Java source files
src/com/zoiper/zdk/

# Copied .so files
src/main/jniLibs/*